body{
    background-image: url(../images/backgrounds-blank-blue-953214.jpg);
    background-size: cover;
}
#signbox{
    padding:30px;
    top:150px;
    background-color:rgba(250,250,250,.7);
    border-color:3px black;
    border-radius:6px;
    box-shadow:6px 8px 15px #000000;
    font-size: 16px;
    text-align:left;
    min-width:250px;
}
.boxwidth{
    margin: 0 auto;
}
.inputbox{
    padding:5px;
    
}
.btnsize{
    min-width:100px;
}
/* ------------------home page */
.inputback{
    background-image: url(../images/bricks-brickwall-brickwork-1092364.jpg);
    background-size:cover; 
}
.filter_spac{
    border-radius:3px;
    padding: 10px;
    min-width: 200px;
}
.formspacing{
    padding:3px;
}
.marginall{
    margin:10px 0px 10px 10px;
}
.navbar {
    margin-bottom: 0;
}

.back-image{
    height: 50vw;
    background-image: url('../img/back.jpg');
    /* background-color: #276873; */
}

#nav-p{
    display: flex; 
    justify-content: center;
    flex-direction:column;
}
.but-div{
    display: flex; 
    justify-content: center;
}
#search{
    align-self: center;
}

.f-center{
    margin-right: 50px;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
} 

.re-context{
    height: 100%;
    width: 100%
}

img {
    opacity: 0.75;
  }

@media(max-width:992px){
    .col-sm-12{
        margin: 10px;
    }
    .back-image{
        height: 130vw;    
    }    
}
